body{
    margin: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: gray;
    font-family: Arial, sans-serif;

}

.loader{
    display: flex;
    gap: 10px;
    justify-content: center;
    align-items: center;
}

.dots{
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: blue;
    animation: bounce 1.5s infinite ease-in-out;
}

@keyframes bounce{
    0%, 80%, 100%{
        transform: scale(0);
    }
    40%{
        transform: scale(1);
    }
}

.loader-tet{
    margin-top: 20px;
    text-align: center;
    color: #555;
    font-size: 16px;
}
